body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

#payment-screen {
    width: 350px;
    margin: 100px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 30px;
}

h2 {
    color: #333333;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

button {
    padding: 20px 20px;
    margin-left: 44%;
    background-color: #1e88e5;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1565c0;
}

.processing {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

.success, .failure {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.success {
    color: green;
}

.failure {
    color: red;
}